{% extends 'pages/security/base.html.twig' %}

{% block title %}Première connexion{% endblock %}

{% block container %}

    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <div class="logo d-flex align-items-center w-auto">
                                {# <img src="assets/img/logo.png" alt=""> #}
                            </div>
                        </div>

                        <div class="card mb-3">

                            <div class="card-body">

                                <h5 class="card-title text-center pb-0 fs-4">Première connexion à ZealMini</h5>

                                {{ form_start(registrationForm) }}
                                    {{ form_row(registrationForm.email) }}
                                    {{ form_row(registrationForm.name) }}
                                    {{ form_row(registrationForm.plainPassword, {
                                        label: 'Password'
                                    }) }}

                                    <button class="btn btn-primary w-100" type="submit">S'enregistrer</button>
                                {{ form_end(registrationForm) }}

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>
    </div>

{% endblock %}
